<div> 
<div class="example-table-container">
        <table mat-table [dataSource]="starWarsData" class="example-table"
               matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
          <!-- Number Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
          </ng-container>
    
          <!-- Title Column -->
          <ng-container matColumnDef="height">
            <th mat-header-cell *matHeaderCellDef>Height</th>
            <td mat-cell *matCellDef="let row">{{row.height}}</td>
          </ng-container>
    
          <!-- State Column -->
          <ng-container matColumnDef="mass">
            <th mat-header-cell *matHeaderCellDef>Mass</th>
            <td mat-cell *matCellDef="let row">{{row.mass}}</td>
          </ng-container>
    
          <!-- Created Column -->
          <ng-container matColumnDef="hair_color">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
              Hair Color
            </th>
            <td mat-cell *matCellDef="let row">{{row.hair_color }}</td>
          </ng-container>
    
             <!-- Created Column -->
             <ng-container matColumnDef="skin_color">
              <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                Skin Color
              </th>
              <td mat-cell *matCellDef="let row">{{row.skin_color}}</td>
            </ng-container>
             
      
                 <!-- Created Column -->
             <ng-container matColumnDef="eye_color">
              <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                Eye Color
              </th>
              <td mat-cell *matCellDef="let row">{{row.eye_color}}</td>
            </ng-container>
           <!-- Created Column -->
           <ng-container matColumnDef="birth_year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
              birth Year
            </th>
            <td mat-cell *matCellDef="let row">{{row.birth_year}}</td>
          </ng-container>
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
              Gender
            </th>
            <td mat-cell *matCellDef="let row">{{row.gender}}</td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="content-row"  (click)="onRowClicked(row)"></tr>
        </table>
      </div>
      <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
    </div>